* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgb(205, 130, 50);
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}

#outer {
  height: 400px;
  width: 400px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#inner {
  height: 200px;
  width: 200px;
  background-color: white;
  background-image: url("https://plus.unsplash.com/premium_photo-1721926057308-2aa7ce470776?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}
